.popup__confirm-content {

  width: 430px;
  background-color: #fff;
  padding-top: 34px;
  padding-left: 36px;
  padding-bottom: 36px;
  padding-right: 36px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 520px) {
  .popup__confirm-content {
    margin: 0;
    min-height: 322px;
    width: 282px;
    padding-top: 25px;
    padding-left: 22px;
    padding-bottom: 22px;
    padding-right: 22px;
  }
}
